@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  height:100%
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    height: 100%;
}
@keyframes enter{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes scaleEnter{
  from {
    scale: 0;
  }
  to{
    scale: 1;
  }
}
.enter{
  animation: enter .4s linear;
}
.scale-enter{
  animation: scaleEnter .4s linear;

}
#__next{
  height: 100%
}
.transition-speed{
  transition: transform .1s;
}